<!--<div class="unit" id="">-->
    <!--<div class="vote-block">-->
        <!--<span class="upvote"></span>-->
        <!--<span class="vote"></span>-->
        <!--<span class="downvote"></span>-->
    <!--</div>-->
    <!--<div class="vote-msg">-->
        <!--<p class="title"></p>-->
        <!--<p class="description"></p>-->
        <!--<div class="comment-txt">Comment section below</div>-->
        <!--<textarea class="comment-box"></textarea><span class="save-btn">Save</span>-->
        <!--<div class="all-comments"></div>-->
    <!--</div>-->
<!--</div>-->

<!--<script id="listContainer" type="text/html">-->
    <!--<div class="list-row" data-row="list">-->
        <!--<input class="card-title"  placeholder="Card title" type="text" value="{{title}}" />-->
        <!--<span class="close-list" data-close="removeList({{column}})">X</span>-->

        <!--<div class="task-wrap">-->
            <!--{{#tasks}}-->
            <!--<div class="list-task">-->
                <!--<span class="close-task" data-close="removeTask({{column}},{{row}})">X</span>-->
                <!--<input class="task-title task-input"  placeholder="Task title" type="text" value="{{title}}" />-->
                <!--<input class="task-description task-input"  placeholder="Task Description" type="text" value="{{description}}" />-->
            <!--</div>-->
            <!--{{/tasks}}-->
        <!--</div>-->
        <!--<button class="add-task" data-add="task">Add Task</button>-->
    <!--</div>-->
<!--</script>-->