<% include partials/head %>

<div id="reddit" class="reddit">
    <div class="wrapper">

        <div class="top-section">
            <div class="post-block">
                <h2>Add a new Post</h2>
                <input class="input-title" type="text" value="" placeholder="Enter title" />
                <textarea class="textarea-msg" type="text" value="Enter Message" placeholder="Enter Message"> </textarea>
                <button class="post">Post</button>
            </div>
            <a href="/logout" class="logout">Logout</a>
        </div>

        <div class="main-section">
            <h2>All Post:</h2>
            <div class="unit-wrap"></div>
        </div>
    </div>
</div>

<script id="listContainer" type="text/html">
    <div class="unit" id="{{id}}">
        <div class="vote-block">
            <span class="upvote"></span>
            <span class="vote">{{vote}}</span>
            <span class="downvote"></span>
        </div>
        <div class="vote-msg">
            <p class="title">{{title}}</p>
            <p class="description">{{description}}</p>
            <div class="comment-txt">Comment section below</div>
            <textarea class="comment-box"></textarea><span class="save-btn">Save</span>
            <div class="all-comments"></div>
        </div>
    </div>
</script>

<script type="text/javascript" src="/javascripts/mustache.min.js" ></script>
<% include partials/commonscript %>

<script src="/javascripts/main.js"></script>

<% include partials/bottom %>
