<% include partials/head %>

<div id="reddit" class="reddit"></div>

<% include partials/commonscript %>

<script src="dojo/dojo.js"
        data-dojo-config="async: true, packages: [{ name: 'javascripts', location: '../javascripts'}]"></script>
<script>
    require([
        '/javascripts/main.js'
    ]);
</script>

<!--<script src="/javascripts/main.js"></script>-->

<% include partials/bottom %>
