<% include partials/head %>

<div class="wrapper">
    <h2>Sign Up :-</h2>
    <form type="post" action="/signup" id="form" class="register">
        <div class="field-wrap">
            <input class="name" type="text" name="name" value="" placeholder="Name"/>
        </div>
        <div class="field-wrap">
            <input class="email" type="email" name="email" value="" placeholder="Email"/>
        </div>
        <div class="field-wrap">
            <input class="password" type="password" name="password" value="" placeholder="Password"/>
        </div>
        <button id="submitBtn" class="register-btn disable" type="submit">Sign Up</button>
    </form>

    <span> Already have an account?<a href="/login"> Login</a></span>
</div>

<% include partials/bottom %>