<div class="reply-comment-box" data-dojo-attach-point="replyCommentBox">
    <textarea data-dojo-attach-point="replyTextareaBox"></textarea>
    <span class="save-comment" data-dojo-attach-point="replyCommentSaveBtn"
          dojoAttachEvent="onclick: replyCommentSaveBtnClicked ">Save</span>
    <span class="cancel-comment" data-dojo-attach-point="replyCommentCancelBtn"
          dojoAttachEvent="onclick: replyCommentCancelBtnClicked ">Cancel</span>
</div>