<div class="comment-unit" data-id="" data-dojo-attach-point="commentUnitNode">
    <span class="reply-comment" data-dojo-attach-point="replyComment" dojoAttachEvent=" onclick : commentReplyClicked">Reply</span>
</div>