<div class="unit" data-dojo-attach-point="unit" data-id="">
    <div class="vote-block">
        <span class="upvote" dojoAttachEvent="mouseup: upVoteClicked"></span>
        <span class="vote" data-dojo-attach-point="vote"></span>
        <span class="downvote" dojoAttachEvent = "mouseup: downVoteClicked"></span>
    </div>
    <div class="vote-msg">
        <p class="title" data-dojo-attach-point="title"></p>
        <p class="description" data-dojo-attach-point="description"></p>
        <div class="comment-txt">Comment section below</div>
        <textarea data-dojo-attach-point="commentTextArea" class="comment-box"></textarea>
        <span data-dojo-attach-point="saveBtn" dojoAttachEvent="onclick: commentSaveBtnOnClicked" class="save-btn">Save</span>
        <div class="all-comments" data-dojo-attach-point="allComment" ></div>
    </div>
</div>
